# Entorno virtual
venv/
*.pyc

# Archivos de Django y SO
__pycache__/
.DS_Store

# Archivos de base de datos
db.sqlite3
.env

# Archivos Google OAUTH
token.json
client_secret_app_escritorio_oauth.json